doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Procurement List
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="/css/procurementlist.css")
    link(rel="stylesheet" href="/css/deleteModal.css")

  body
    // Top Navigation Bar
    nav.navbar
      .nav-container 
        span.project-name Karibu Groceries Limited

        .nav-links
          a.nav-link(href='/ManagerDashboard') Dashboard
          a.nav-link(href='/addprocurement') Add Procurement
          a.nav-link(href='/stockList') Stock List
          a.nav-link(href='/logout') Logout

    .container
      h2 Procurement List

      table
        thead
          tr
            th Produce Name
            th Type
            th Tonnage (kg)
            th Cost (UGX)
            th Dealer Name
            th Branch
            th Contact
            th Date
            th Time
            th Actions

        tbody
          if procurements && procurements.length > 0
            each procurement in procurements
              tr
                td= procurement.produceName
                td= procurement.produceType
                td= procurement.tonnage
                td= procurement.cost ? procurement.cost.toLocaleString() : '0'
                td= procurement.dealerName
                td= procurement.branchName 
                td= procurement.contact
                td= procurement.date
                td= procurement.time
                td
                  a.btn.btn-primary.update-btn(href="/UpdateProduceProcurement/" + procurement._id) Update
                  form(method="POST", action="/delete-procurement", style="display:inline;" onsubmit="return showDeleteConfirmation('Are you sure you want to delete this procurement?', '#{procurement.produceName}', this)")
                    input(type="hidden", name="id", value=procurement._id)
                    button.btn.btn-danger.delete-btn(type="submit") Delete
          else
            tr
              td(colspan="10").no-data No procurement records available

      .add-button-container
        button.btn.btn-success.add-btn(onclick="window.location.href='/addprocurement'") Add Procurement

    footer
      | &copy; #{year} Karibu Grocery Limited. All rights reserved.

    script(src="/js/deleteModal.js")

