doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Produce Sales List
    link(rel='stylesheet', href='./css/produceSalesList.css')
    link(rel='stylesheet', href='./css/deleteModal.css')
  body
    // Top Navigation Bar
    nav.navbar
      .nav-links
        a(href='/') Home
        a(href='/addProduceSale') Add Sale
        a(href='/addCreditSale') Add Credit
        a(href='/logout') Logout

    h2 Produce Sales List

    table#salesTable
      thead
        tr
          th Produce Name
          th Tonnage (kg)
          th Amount (UGX)
          th Buyer Name
          th Sales Agent
          th Date and Time
          th Actions

      tbody
        if produceSales.length
          each sale in produceSales
            tr
              td #{sale.produceName}
              td #{sale.tonnage}
              td #{sale.amount}
              td #{sale.buyerName}
              td #{sale.salesAgent}
              td #{sale.saleDateTime}
              td
                a.update-btn(href="/UpdateProduceSale/" + sale._id) Update
                form(action="/produceSale/deleteSale/" method="POST" style="display:inline" onsubmit=`return showDeleteConfirmation('Are you sure you want to delete this produce sale?', '${sale.produceName}', this)`)
                  input(type="hidden" name="_id" value=sale._id)
                  button.delete-btn(type="submit") Delete
        else
          tr
            td(colspan="7") No sales data available.

    button.add-produce-btn(onclick="window.location.href='/addProduceSale'") Add Produce Sale

    footer
      p &copy; 2025 Sales Management System | All Rights Reserved

    script(src='js/deleteModal.js')
    script(src='js/produceSaleslist.js')

