doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Produce Sales List
    link(rel='stylesheet', href='./css/produceSalesList.css')
  body
    h2 Produce Sales List

    table#salesTable
      thead
        tr
          th Produce Name
          th Tonnage (kg)
          th Amount (UGX)
          th Buyer Name
          th Sales Agent
          th Date and Time
          th Actions
      tbody
        if produceSales.length
          each sale in produceSales
            tr
              td #{sale.produceName}
              td #{sale.tonnage}
              td #{sale.amount}
              td #{sale.buyerName}
              td #{sale.salesAgent}
              td #{sale.saleDateTime}
              td
                a.btn.btn-primary(href="produceSale/updateSale/" + sale._id) Update
                form(="/produceSale/deleteSale/" method='POST')
                  input(type='hidden' name='_id' value=sale._id)
                  button.btn.btn-danger(type='submit') Delete
        else
          tr
            td(colspan='7') No sales data available.

    // Add Sale button below the table
    button(onclick="Window.location.href='/ProduceSale/addProduceSale'") Add Produce Sale

    // Footer Section
    footer
      p &copy; 2025 Sales Management System | All Rights Reserved

    // External JavaScript
    script(src='js/produceSaleslist.js')

