doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Table
  link(rel='stylesheet' href='/public/css/saleslist.css')
h2 Sales list
table#salesTable
  thead
    tr
      th Produce Name
      th Tonnage (kg)
      th Amount Paid (UGX)
      th Buyer Name
      th Sales Agent
      th Date and Time
      th Actions
  tbody
    tr
      td #{sale.produceName} 
      td #{sale.tonnage}
      td #{sale.amountPaid}
      td #{sale.BuyerName}
      td #{sale.SalesAgent}
      td #{sale.saleDatetime}
      
      td
        button(onclick='editSale(this)') Edit
        button(onclick='deleteSale(this)') Delete
// Add Sale Button below the table
button(onclick='addSale()') Add Sale
// Footer Section at the bottom of the page
footer
  p &copy; 2025 Sales Management System | All Rights Reserved
script(src='saleslist.js')