doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Karibu Grocery - Stock Management
    link(rel='stylesheet' href='/css/stocklist.css')
  body
    header
      h1  Stock Management

    main

      table#stockTable
        thead
          tr
            th Produce Name
            th Product Type
            th Tonnage 
            th Cost 
            th Dealer Name 
            th Contact 
            th Selling Price 
            th Date 
            th Time 
            th Action

        tbody
          if stocks && stocks.length
            each stock in stocks
              tr
                td #{stock.produceName}
                td #{stock.produceType} 
                td #{stock.tonnage}
                td #{stock.cost}
                td #{stock.dealerName}
                td #{stock.contact}
                td #{stock.sellingprice}
                td #{stock.date}
                td #{stock.time}
                 td
                  button.btn.btn-update(type='button', onclick='UpdateRow(this)') Update
                  button.btn.btn-delete(type='button', onclick='deleteRow(this)') Delete
          else
            tr
              td(colspan="10" class="no-data") No stock data available.

      div.button-container
      button.btn.btn-success(onclick="window.location.href='/addStock'") Add Stock

    script(src='/js/stocklist.js')
