doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Karibu Grocery - Stock Management
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/stocklist.css')
    link(rel='stylesheet' href='/css/deleteModal.css')
  body
    // Top Navigation Bar
    nav.navbar
      .nav-container
        span.project-name Karibu Groceries Limited
        
        .nav-links
          a(href='/ManagerDashboard') Dashboard
          a(href='/addStock') Add Stock
          a(href='/procurementlist') Procurement List
          a(href='/logout') Logout

    .container
      h2 Stock Management

      table#stockTable
        thead
          tr
            th Produce Name
            th Product Type
            th Tonnage (kg)
            th Cost (UGX)
            th Dealer Name 
            th Contact 
            th Selling Price (UGX)
            th Date 
            th Time 
            th Action

        tbody
          if stocks && stocks.length
            each stock in stocks
              tr
                td= stock.produceName
                td= stock.produceType
                td= stock.tonnage
                td= stock.cost ? stock.cost.toLocaleString() : '0'
                td= stock.dealerName
                td= stock.contact
                td= stock.sellingprice ? stock.sellingprice.toLocaleString() : '0'
                td= stock.date
                td= stock.time
                td
                  a.update-btn(href='/UpdateStock/' + stock._id) Update
                  form(method="POST", action="/deleteStock", style="display:inline;" onsubmit="return showDeleteConfirmation('Are you sure you want to delete this stock?', '#{stock.produceName}', this)")
                    input(type="hidden", name="_id", value=stock._id)
                    button.delete-btn(type="submit") Delete
          else
            tr
              td(colspan="10" class="no-data") No stock data available.

    .add-button-container
      button.add-btn(onclick="window.location.href='/addStock'") Add Stock

    footer
      | &copy; 2025 Karibu Grocery Limited. All rights reserved.

    script(src='/js/deleteModal.js')
    script(src='/js/stocklist.js')
