doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Stock List
    link(rel='stylesheet' href='/bootstrap-5.0.2-dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/a.css')
  body
    header.bg-dark.text-light.py-3
      h1.text-center Stock List
      
      nav.text-center
        a(href='/director' class='btn btn-light') directors  dashboard
        a(href='/manager' class='btn btn-light') Manager Dashboard
    main.container.my-4
      h2 Stock
      table#procurement-table.table.table-striped.table-bordered
        thead
          tr
            th(scope='col') Produce Name
            th(scope='col') Produce Type
            th(scope='col') Tonnage
            th(scope='col') Cost
            th(scope='col') Dealer Name
            th(scope='col') Branch Name
            th(scope='col') Contact
            th(scope='col') Selling Price
            th(scope='col') Date
            th(scope='col') Time
            th(scope='col') Actions
               
        tbody
          if stocks && stocks.length
            each stock in stocks
              tr
                td #{stock.produceName}
                td #{stock.produceType}
                td #{stock.tonnage}
                td #{stock.cost}
                td #{stock.dealerName}
                td #{stock.branchName}
                td #{stock.contact}
                td #{stock.sellingPrice}
                td #{stock.Date}
                td #{stock.Time}
                    
                td
                  // Update Button
                  a.btn.btn-primary.btn-sm(href='/updatestock/' + stock._id) Update

                  // Delete Form
                  form(method='POST' action='/delete-stock' style='display:inline;')
                    input(type='hidden', name='id', value=stock._id)
                    button.btn.btn-danger.btn-sm(type='submit') Delete
          else
            tr
              td(colspan='11') No stock records available

      a(href='/addstock' class='btn btn-primary mt-3') Add New Stock
    script(src='/js/saleslist.js')