doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Update Produce Sale
    link(rel='stylesheet' href='./css/addproducesale.css')
  body
    form#producesalesform(action='/UpdateProduceSale'+ sales._id method='POST')
      h2 Update Produce Sale Form
      // Error Message Display
      #errorMsg.error
      // Hidden ID Field
      input(type='hidden' name='Id'  value=sale._Id)
      // Produce Name
      label(for='produceName') Produce Name
      input#produce(type='text' name='produceName' value=sale.produceName)
      // Tonnage
      label(for='tonnage') Tonnage (kg)
      input#tonnage(type='number' name='tonnage' value=sale.tonnage)
      // Amount Paid
      label(for='amount') Amount (UGX)
      input#amount(type='text' name='amount' valve=sale.amount)
      // Buyer Name
      label(for='buyerName') Buyer Name
      input#buyerName(type='text' name='buyerName' value=sale.buyerName)
      // Sales Agent
      label(for='salesAgent') Sales Agent Name
      input#salesAgent(type='text' name='salesAgent' value=sale.salesAgent )
      // Sale Date and Time
      label(for='saleDateTime') Date and Time
      input#saleDateTime(type='datetime-local' name='saleDateTime' value=sale.saleDateTime)
      // Submit Button
      button(type='submit') Update Sale
    script(src='js/updateproducesale.js')



 